@model Cinema_MVC.ViewModels.ShowingViewModel
@{
    ViewBag.Title = "Book Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Select Showtime:</h3>

<table class="table">

    @foreach (var showing in Model.Showings)
    {
        <tr>
            <td>@showing.Showtime.ToString()</td>
            <td>Theater: @showing.Theater.TheaterNum</td>
            <td>
                <a href="@("/Showings/Book/"+showing.Id)" class="btn btn-success" role="button">Book Tickets</a>
                <a href="@("/Showings/Edit/"+showing.Id)" class="btn btn-primary" role="button">Edit Showtime</a>
                <a href="@("/Showings/Delete/"+showing.Id)" class="btn btn-danger" role="button">Delete Showtime</a>
            </td>
        </tr>
    }
</table>