@model Cinema_MVC.ViewModels.TicketsViewModel
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<int[]> seatsTaken = new List<int[]>();
    IList<int> rows = new List<int>();
    IList<int> seats = new List<int>();
    int numOfRows = Model.Showing.Theater.NumOfRows;
    int numOfSeatsPerRow = Model.Showing.Theater.NumOfSeatsPerRow;
}

@{
    Model.TicketsOrdered.ForEach(t =>
    {
        seatsTaken.Add(new int[] { t.rowNum, t.seatNum });
    });

    for (int i = 1; i <= numOfRows; i++)
    {
        rows.Add(i);
    }
    for (int j = 1; j <= numOfSeatsPerRow; j++)
    {
        seats.Add(j);
    }
}

<h2 class="text-center">@Model.Ticket.Movie.Name</h2>
<h4 class="text-center">Showtime: @Model.Ticket.Showtime</h4>

@using (Html.BeginForm("CompleteOrder", "Showings", FormMethod.Post, new { id = "main-form" }))
{
    <h4>Select your seats:</h4>
    <div>
        @for (int i = 1; i <= numOfRows; i++)
        {
            <div class="row">
                @for (int j = 1; j <= numOfSeatsPerRow; j++)
                {
                    var taken = seatsTaken.Find(s => (s[0] == i && s[1] == j));
                    if (taken != null)
                    {
                        <div class="square red col-md-1"></div>
                    }
                    else
                    {
                        <div class="square blue col-md-1" onclick="markSeat(@i,@j)"></div>
                    }
                }
            </div>
        }
    </div>
    <br />
    <br />

    <input type="hidden" id="seatsList" name="seatsList" value="@Model.Ticket.SeatsList" />
    <input type="hidden" id="Showtime" name="Showtime" value="@Model.Ticket.Showtime" />
    <input type="hidden" id="TheaterId" name="TheaterId" value="@Model.Ticket.TheaterId" />
    <input type="hidden" id="MovieId" name="MovieId" value="@Model.Ticket.MovieId" />
    <input type="hidden" id="Id" name="Id" value="@Model.Ticket.Id" />

    @Html.AntiForgeryToken()
    <button type="button" name="Submit" value="Submit" id="btnSubmit" class="btn btn-primary">Order Tickets</button>
}

@section scripts
{
    <script>
        let seatsList = document.getElementById("seatsList");
        let numOfSeatsChosen = 0;
        let chosenSeats = [];
        let seatsString = "";

        const markSeat = (row, seat) => {
            if (event.target.classList.contains("green")) {
                event.target.classList.remove("green")
                chosenSeats = chosenSeats.filter(item => {
                    return item[0] !== row || item[1] !== seat
                })
            }
            else {
                event.target.classList.add("green")
                chosenSeats.push([row, seat])
            }
            numOfSeatsChosen = document.querySelectorAll(".green").length;

            seatsString = "";
            chosenSeats.forEach(s => seatsString += s + " ");
            console.log(chosenSeats);
            seatsList.value = seatsString;
            console.log(seatsString);
            formData.SeatsList = seatsString;
            console.log(formData);
        }

        var formData = new FormData();
        formData.SeatsList = seatsString;
        formData.Showtime = $("#Showtime").val();
        formData.TheaterId = parseInt($("#TheaterId").val());
        formData.MovieId = parseInt($("#MovieId").val());
        formData.Id = parseInt($("#Id").val());


        $('#btnSubmit').click(function () {
            console.log("Clicked");
            console.log(formData);
            $.ajax({
                type: "POST",
                url: "/Showings/CompleteOrder",
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: 'application/json',
                processData: false,
                success: function (result) {
                    if (result.status == "Success") {
                        console.log("Success")
                        location.href = result.url;
                    }
                }
            });

        });

    </script>
}
