@model Cinema_MVC.ViewModels.CompleteOrderViewModel
@{
    ViewBag.Title = "CompleteOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="alert alert-success mt-10">Tickets booked!</p>

<h2>Your Order details:</h2>

<table class="table">
    <tr>
        <td>Movie</td>
        <td>@Model.Movie.Name</td>
    </tr>
    <tr>
        <td>Showtime</td>
        <td>@Model.Tickets[0].Showtime</td>
    </tr>
</table>

<p>Seats Ordered</p>
<table class="table">
    <tr class="table-info">
        <th>Ticket</th>
        <th>Row</th>
        <th>Seat Number</th>
    </tr>
    @for (int i = 0; i < Model.Tickets.Count; i++)
    {
        <tr class="table-light">
            <td>@(i + 1)</td>
            <td>@Model.Tickets[i].rowNum</td>
            <td>@Model.Tickets[i].seatNum</td>
        </tr>
}
</table>
<a class="btn btn-primary" href="@("/Movies")"> Back to main page</a>

