@model Cinema_MVC.ViewModels.MovieShowingViewModel
@{
    ViewBag.Title = "MovieShowingForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var theaters = Model.Theaters;
}
<h2>Movie Showing Form</h2>

@using (Html.BeginForm("Save", "Showings", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Showing.MovieId)
        @Html.DropDownListFor(m => m.Showing.MovieId, new SelectList(Model.Movies, "Id", "Name"), Model.Showing.Movie.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Showing.TheaterId)
        @Html.DropDownListFor(m => m.Showing.TheaterId, new SelectList(theaters, "Id", "TheaterNum"), Model.Showing.Theater.TheaterNum.ToString(), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Showing.Showtime)
        @Html.TextBoxFor(m => m.Showing.Showtime, "", new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Showing.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
